[Desktop Entry]
Name=rxdwim
GenericName=rxdwim
Comment=Start these up at login
Exec=xdwim
Terminal=False
Type=Application
X-GNOME-Autostart-enabled=true
